$screen-xs-min: 0;
$screen-xs-max: 576px;
$screen-sm-min: 576px;
$screen-sm-max: 768px;
$screen-md-min: 768px;
$screen-lg-max: 992px;
$screen-lg-min: 992px;
$screen-lg-max: 1200px;
$screen-xl-min: 1200px;
$screen-xl-max: 1400p;
$screen-xx-min: 1400p;